<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">
    <meta charset="utf-8">
    <title>Dashboard</title>
</head>
<body>
    <h1 class="text-center" style="padding: 20px; color: #607D8B;">Dashboard</h1>

    <div class="list-group text-center" style="width: 500px; margin: auto; color: #607D8B;">
        <a href="#" class="list-group-item list-group-item-action">My Bugs</a>
        <a href="#" class="list-group-item list-group-item-action">My Projects</a>
        <a href="#" class="list-group-item list-group-item-action">Add bug</a>
    </div>

</body>
</html>