<!DOCTYPE html>
<html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">
    <meta charset="utf-8">
    <title>Dashboard</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand disabled" >Dashboard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        What are you looking for?
                    </a>
                    <!-- Must add the .animate and .slide-in classes to .dropdown-menu to work -->
                    <div class="dropdown-menu dropdown-menu-right animate slideIn" aria-labelledby="navbarDropdown">
                    <!-- Cum adaug link-uri catre pagini??? -->
                        <a class="dropdown-item" th:href="@{myprojects}">My projects</a>
                        <a class="dropdown-item" th:href="@{mybugs}">My bugs</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="${addbug}">Add new bug</a>
                        <a class="dropdown-item" th:href="${addproject}">Add new project</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Log out</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <!--de limitat numarul de bug-uri afisate in dashboard-->
<div class="row">
<div th:each="b : ${bugs}" class="card col-sm" style="width: 18rem; margin: 2rem;background-color: rgb(168, 194, 211); box-shadow: 14px 14px 28px -14px rgba(0,0,0,0.43);">
    <div class="card-body">
        <h5 class="card-title" th:text="${b.bugName}"></h5>
        <p class="card-subtitle mb-2 text-muted">Bug No.:
        <h6 class="card-subtitle mb-2 text-muted" th:text="${b.bugNumber}"></h6></p>
        <p class="card-text line-clamp" th:text="${b.bugDescription}"></p>
        <form action="/bugdetails" method="get">
        <input hidden name="id" th:value="${b.idBug}">
        <a th:href="${b.url}" class="my-auto btn btn-outline-dark">Go to bug</a>
        </form>
    </div>
</div>
</div>
</div>


<footer class="footer mt-auto py-3" style="position: fixed; bottom: 0; text-align: justify; width: 100%;">
    <div class="container">
        <p class="text-center">
            <button type="button" class="btn btn-lg btn-outline-secondary" disabled> © 2020 Pandemic Software :-)
            </button>
            <button hidden type="button" class="btn btn-lg btn-outline-success float-right">Home</button>
        </p>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>
</html>