<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">
    <meta charset="utf-8">
    <title>Home</title>
</head>

<body>


    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
            <div class="col-md-8 col-lg-6">
                <div class="login d-flex align-items-center py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 col-lg-8 mx-auto">
                                <h3 class="login-heading mb-4 display-4"
                                    style="padding: 20px; color: #8b8b8b; text-align: center;">Welcome <br>to my bug
                                    tracking <br>web app!</h3>
                                <form action="/login">
                                    <div class="form-label-group">
                                        <input type="email" name="email" class="form-control" id="exampleInputEmal1"
                                            aria-describedby="emailHelp" placeholder="Email address">
                                        <label for="exampleInputEmal1">Email address</label>
                                    </div>
                                    <div class="form-label-group">
                                        <input type="password" name="password" class="form-control"
                                            id="exampleInputPassword1" placeholder="Password">
                                        <label for="exampleInputPassword1">Password</label>
                                    </div>
                                    <button type="submit"
                                        class="btn btn-lg btn-outline-primary btn-block btn-login text-uppercase font-weight-bold mb-2">Sign
                                        in</button>
                                    <a href="register"
                                        class="btn btn-lg btn-outline-success btn-block btn-login text-uppercase font-weight-bold mb-2">Register</a>
                                    <p th:text="${message}"></p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</body>

</html>